/**
 * @Package: WordPress Plugin
 * @Subpackage:Lavel WordPress Admin Theme
 * @Since: Ultra 1.0
 * @WordPress Version: 4.0 or above
 * This file is part ofLavel WordPress Admin Theme Plugin.
 */

.pace, #wpwrap:before{
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
}

#wpwrap:before{
  content: " ";
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 9999998;
  display: block;
  background-color: rgba(255,255,255,0.25);
}

#wpwrap.loaded:before{display: none !important;}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  height: 5px;
  overflow: hidden;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  background-color: #f95e44;
    box-shadow: 0 3px 6px rgba(0,0,0,.10);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.10);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.10);
    -o-box-shadow: 0 3px 6px rgba(0,0,0,.10);
    -ms-box-shadow: 0 3px 6px rgba(0,0,0,.10);
}
