/**
 * @Package: WordPress Plugin
 * @Subpackage:Lavel WordPress Admin Theme
 * @Since: Ultra 1.0
 * @WordPress Version: 4.0 or above
 * This file is part ofLavel WordPress Admin Theme Plugin.
 */

 body .wordfenceWrap, body .wordfenceWrap *, body .wordfence , body .wordfence * {
	box-sizing:content-box;
	-o-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

.wp-pointer{
	z-index: 99999 !important;
}

.wordfenceWrap .consoleHead{
	margin-bottom: 9px;
}

.wordfenceWrap .consoleHeadText{
	font-family: inherit !important;
	font-style: normal !important;
	font-weight: 400 !important;
}


.wordfenceWrap .bevelDiv1{
	border: 0px !important;
	margin-bottom: 9px;
}

.wordfenceWrap .bevelDiv2{
	border: 0px !important;
}

.wordfenceWrap .bevelDiv3 {
	border: 1px solid #e8e8e8;
	background-color: #F8f8f8;
	color: #777777;
	padding: 9px;
	font-family: inherit;
}

.wfPaidOnlyNotice,
div.wordfenceLive,
.wordfence div.wordfenceLive{
	height: auto;
	border: 1px solid #e8e8e8;
	background-color: #F8f8f8;
	color: #777777;
	padding: 9px;
	font-family: inherit;
}


.wfPaidOnlyNotice h2,
div.wordfenceLive h2,
.wordfence div.wordfenceLive h2 {
	font-weight: normal;
	color: #777777;
	margin: 0 13px 0 0;
	padding: 0;
	display: inline;
	font-size: 14px;
	font-family: inherit;
	font-style: normal;
}

body .wfOnOffSwitch-inner:after,
body .wfOnOffSwitch-inner:before,
body .wfOnOffSwitch-label, body .wfOnOffSwitch-label *{
	border-radius: 0px !important;
}

#wfHeading .wordfenceWrap{
	margin-top: 11px !important;
}