/**
 * @Package: WordPress Plugin
 * @Subpackage:Lavel WordPress Admin Theme
 * @Since: Ultra 1.0
 * @WordPress Version: 4.0 or above
 * This file is part ofLavel WordPress Admin Theme Plugin.
 */

 body, body *{
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

body, p{
    line-height: 23px;
    font-size: 14px;
}

body a, body label{
    display: inline-block;
}

#backtoblog {
    margin: 0px 0 0;
}

.mobile #login{
    padding: 0px;
}

.login.wp-core-ui .button-primary{ 
    height: 34px;
    line-height: 28px;
    border-radius : 0px;
    padding: 0 12px 2px;
    border-color: transparent;
    text-shadow: none;
}


.login.wp-core-ui input[type=checkbox]{
    box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-shadow: none; 
    border-color: 
    }

.login h1 a { 
    background-size: contain;
    background-color: transparent;
    min-height: 92px;
    width:auto;
}

#login {
    top: 50%;
    position: relative;
    max-width: 391px;
    width:100%;
    padding: 0px 0 0;
    margin: auto;
    margin-top: -265px;
}

.login form {
    margin-top: 0px;
    margin-left: 0;
    padding: 23px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login #nav {
    font-size: 14px;
    padding: 0 23px;
    text-align: center;
    margin: 23px 0 0 0;
    font-weight: 500;
}

.login #backtoblog{
    font-size: 14px;
    padding: 0 23px;
    text-align: center;
    margin: 12px 0 11px 0;
    font-weight: 500;
}


.login h1 a {
    height: 92px;
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
    margin: 0px auto 0px auto;
    padding: 0;
    text-decoration: none;
    max-width: 391px;
    width: 100%;
}


.login label {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}

.login form .input, .login input[type=text] {
    font-size: 19px;
    width: 100%;
    padding: 9px;
    line-height: 23px;
    margin: 5px 0 18px 0;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    /* text-shadow: 1px 1px 1px rgba(200,200,200,.1); */
    font-weight: 500;
}



.login form .forgetmenot label {
    font-size: 14px;
    line-height: 23px;
    display: inline-block;
}

.login form .forgetmenot{
    width:100%;
    display:block;
    margin: 12px 0 11px 0!important;
}

#login form p.submit {
    margin: 23px 0 0 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

.login.wp-core-ui .button-primary{
    width: 100%;
    height:46px;
    line-height: 28px;
    padding: 2px 12px 2px 12px;
    font-size: 19px;
    text-transform: uppercase;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
    border: 1px solid transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

input:hover, input:focus{
    border: 1px solid transparent !important;
   -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0px !important;
 }

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease-in-out, padding 0.3s ease;
    -webkit-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease-in-out, padding 0.3s ease;
    -moz-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease-in-out, padding 0.3s ease;
    -ms-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease-in-out, padding 0.3s ease;
    -o-transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, opacity 0.3s ease-in-out, padding 0.3s ease;

}


.login #login_error, .login .message {
    width: 345px;
    border-left: 0px solid transparent;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

#login_error, .login .message {
    margin: 23px 23px 0px 23px;
    padding: 12px 23px 11px 23px;
}


@media screen and ( max-height: 600px ){
body{
    height:130%;
}

#login{
    padding: 0px;
}

    #login {
        top:50%;
    }
}


@media screen and ( max-height: 480px ){
body{
    height:150%;
}
    #login {
        top:50%;
    }
}


/*-------------------------------------------------*/



/*----------login-body-bg----------*/
/* body, #wp-auth-check-wrap #wp-auth-check{
    background-color: #744d90; rgba(153,114,181,1);
    background-image: url("../images/login-bg.png");
    background-size: cover;
    background-position: center top;
} 
 */




/*----------login-form-bg----------*/
/* .login form{
    background-color: transparent;
} 
 */




/*----------login-link-color----------*/
/* .login #backtoblog a, .login #nav a, .login a{color:rgba(241,241,241,1) #f1f1f1;} 
.login #backtoblog a:hover, .login #nav a:hover, .login a:hover {color:rgba(241,241,241,1) #f1f1f1;} 
.login #backtoblog a:active, .login #nav a:active, .login a:active {color:rgba(241,241,241,1) #f1f1f1;} 
 */




/*----------login-text-color = form text color----------*/
/*  .login form label, .login form, .login .message{color:#ffffff;}  */




/*----------login button bg color----------*/
/*  .login.wp-core-ui .button-primary{background-color: #fa8564;}  */



/*----------login input text color----------*/
/*  .login.wp-core-ui input[type=checkbox]:checked:before{color:#fa8564;} 
.login{color: #ffffff}
*/





/*----------login-logo----------*/
/* .login h1 a { 
    background-image: url("../images/login-logo.png");
}
 */



/*----------login-input-bg----------*/
/*----------login-input-opacity----------*/
/*----------login-input-text-color----------*/
/* .login form .input, .login form input[type=checkbox], .login input[type=text] {
    background: rgba(255,255,255,0.5);
    color: #fc5f32;
}
 */


/*----------login-input-hover-opacity----------*/
/* .login form .input:hover, .login form input[type=checkbox]:hover, .login input[type=text]:hover, .login form .input:focus, .login form input[type=checkbox]:focus, .login input[type=text]:focus {
    background: rgba(255,255,255,0.8);
}
 */





/*----------login-button-color----------*/
/*----------login-button-bg----------*/
/*----------login-button-hover-bg----------*/

/* .login.wp-core-ui .button-primary:hover, .login.wp-core-ui .button-primary:focus{
    background-color: #f76741;
}

input[type=checkbox], input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=radio], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea
{
    background: rgba(255,255,255,0.5);
    color: #fc5f32;
}

 .login .message,  .login .message a, .login #login_error, .login #login_error a{
    color: #fc5f32;
}
.login #login_error, .login .message {
    background: rgba(255,255,255,0.5);
} */
