<ul id="menu-bootstrap-demo" class="nav navbar-nav">
    <li id="menu-item-1711" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1699 current_page_item menu-item-1711 active"><a title="Home" href="https://colorlib.com/unite/">Home sss</a></li>
    <li id="menu-item-1973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1973"><a title="Gallery" href="https://colorlib.com/unite/gallery/">Gallery</a></li>
    <li id="menu-item-1715" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1715"><a title="Blog" href="https://colorlib.com/unite/blog/">Blog</a></li>
    <li id="menu-item-1992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1992"><a title="Shop" href="https://colorlib.com/unite/shop/">Shop</a></li>
    <li id="menu-item-2004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2004"><a title="Shortcodes" href="https://colorlib.com/unite/unite-shortcodes/"><span class="glyphicon Shortcodes Powered by Bootstrap"></span>&nbsp;Shortcodes</a></li>
    <li id="menu-item-1717" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1717 dropdown"><a title="About" href="#" data-toggle="dropdown" class="dropdown-toggle">About <span class="caret"></span></a>
        <ul role="menu" class=" dropdown-menu">
            <li id="menu-item-1713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1713"><a title="Full-Width Page" href="https://colorlib.com/unite/page-b/"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;Full-Width Page</a></li>
            <li id="menu-item-1746" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1746"><a title="Contact us" href="https://colorlib.com/unite/contact-us/"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Contact us</a></li>
            <li role="presentation" class="dropdown-header">Menu Options</li>
            <li id="menu-item-1718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1718"><a title="Page Markup And Formatting" href="https://colorlib.com/unite/about/page-markup-and-formatting/"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;Page Markup And Formatting</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Other</li>
            <li id="menu-item-1719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1719"><a title="Page Image Alignment" href="https://colorlib.com/unite/about/page-image-alignment/"><span class="glyphicon glyphicon-fire"></span>&nbsp;Page Image Alignment</a></li>
            <li id="menu-item-1720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1720"><a title="Clearing Floats" href="https://colorlib.com/unite/about/clearing-floats/"><span class="glyphicon glyphicon-leaf"></span>&nbsp;Clearing Floats</a></li>
        </ul>
    </li>
</ul>
